html {
	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
}

body {
	height: 100%;
	margin: 20px auto;
	padding: 40px auto;
	background-image: url('/assets/mint-geometric1.jpg');
	background-repeat: repeat;
	background-position: center center;
	
}

h1{
	text-align: left;
	font-family: 'Josefin Slab', serif;
	font-size: 100px;
	margin: 20px 40px;
}

p{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

b,
strong {
	font-weight: 700;
}

ul{
	text-align: center;
	list-style-type: none;
}

li {
	display: inline-block;
	padding-right: 24px;
}