html {
	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
}

body {
	height: 100%;
	margin: 20px auto;
	padding: 40px auto;
	background-color: #96C8A2;
	
	
}

#sidebar {
	background-image: url('/assets/mint-geometric1.jpg');
	background-repeat: repeat;
	background-position: top right;
	overflow: hidden;
	height:100%;
	width:300px;
	float:left;
	padding:5px;
}

#section {
	width:600px;
	float:left;
	padding:10px;
}

h1{
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-size: 75px;
	margin: 20px 40px;
	white-space: pre;

}

p{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

b,
strong {
	font-weight: 700;
}

ul{
	text-align: center;
	list-style-type: none;
}

li {
	display: inline-block;
	padding-right: 24px;
}