html {
	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
}

html { 
  background: url('/assets/fullbg.jpg') no-repeat center center fixed; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  overflow: hidden;
}

body {
	height: 100%;
	margin: 20px auto;
}

.container {
   position: fixed;
   top: 50%;
   left: 50%;
   text-align: center;
}

.test{
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

h1{
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-size: 50px;
	color: #4f4f4f;

}

p{
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: #4f4f4f;
}

b,
strong {
	font-weight: 700;
}

ul{
	text-align: center;
	list-style-type: none;
}

li {
	display: inline-block;
	padding-right: 24px;
}

.quotes {display: none;}